body 
{
    border: 2rem solid white;
    padding-left: 9%;
    padding-right: 9%;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
}

nav .nav-item
{
    /* size for brand */
    font-size: large;
    padding-right: 1rem;
    padding-top: 0.25rem;
    text-align: right;
}

nav .nav-link
{
    /* size for brand */
    font-size: large;
    padding-right: 1rem;
    padding-top: 0.25rem;
    text-align: left;
}

.dropdown-backdrop {
    position: static;
}

/*Image Selection*/
.container 
{
    position: relative;
    width: 100%;
}
  
.image {
    margin-top: 8px;
    vertical-align: middle;
    padding: 10px;
    width: 100%;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}
  
.container:hover .overlay {
    opacity: 0.8;
}
  
.text {
    color: black;
    font-family: Helvetica, Light;
    font-weight: 300;
    font-size: 14pt;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

hr.new1 {
    border-top: 1px solid white;
  }

.h2 
{
    font-family: Helvetica, Regular;
    text-align: center;
    color: black;
}

title
{
    font-family: Arial, Helvetica, sans-serif, Bold;
    font-weight: 600;
    font-size: 16pt;
    text-align: center;
    align-items: center;
    color: black;
}

.navbar-brand
{
    font-family: Helvetica, Bold;
    font-weight: 500;
    font-size: 16pt;
    text-align: center;
    align-items: center;
    color: black;
}

.nav-item
{
    font-family: Helvetica, "Light";
    font-weight: 400;
    font-size: 14pt;
    text-align: center;
    align-items: center;
    color: black;
}

h6
{
    font-family: Helvetica, Bold;
    font-weight: 500;
    font-size: 16pt;
    text-align: center;
    align-items: center;
    color: black;
}

h5
{
    font-family: Helvetica, Light;
    font-style: oblique;
    font-weight: 400;
    font-size: 14pt;
    text-align: left;
    color: black;
}

h5-t
{
    font-family: Helvetica, "Light";
    font-weight: 200;
    font-size: 14pt;
    padding: 0.5rem;
    text-align: left;
    color: grey;
}

h4
{
    font-family: Helvetica, Light;
    font-weight: 400;
    font-size: 12pt;
    text-align: left;
    color: black;
}

.p 
{
    font-family: Helvetica, Light;
    font-size: 11pt;
    text-align: left;
    color: black;
}

.row 
{
    display: flex;
    flex-wrap: wrap;
    padding: 0.25%;
    vertical-align: middle;
    align-content: flex-end;
}

.column100 row-container 
{   
    display: flex; 
    width: 100%; 
    height: auto;
    flex-direction: column; 
    overflow: hidden;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pdf-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.pdf-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row-h 
{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5%;
    vertical-align: middle;
    align-items: center;
}

.row-t
{
    display: flex;
    flex-wrap: wrap;
    padding: 0.25%;
    padding-bottom: 2rem;
    vertical-align: middle;
    align-items: center;
}
  
.column 
{
    flex: 33%;
    max-width: 100%;
    vertical-align: middle;
    font-family: Helvetica, "Light";
    padding: 0.1%;
    font-size: 10pt;
    text-align: left;
    color: black;
}

.column33
{
    flex: 33%;
    max-width: 100%;
    padding: 0.5%;
    vertical-align: middle;
    font-family: Helvetica, "Light";
    font-size: 10pt;
    text-align: left;
    color: black;
}

.column33 img
{
    flex: 33%;
    max-width: 100%;
    padding: 0.5%;
    vertical-align: middle;
}

.column33A img
{
    flex: 33%;
    max-width: 100%;
    padding: 0.5%;
    vertical-align: middle;
    -ms-flex-align: end;
}


.column33 p
{
    flex: 33%;
    max-width: 100%;
    vertical-align: middle;
    font-family: Helvetica;
    font-size: 11pt;
    text-align: left;
    color: #2B2D42;
}

.column66 
{
    flex: 66%;
    max-width: 100%;
    padding: 0.5%;
    vertical-align: middle;
}

.column66 video {
    flex: 100%;
    max-width: 100%;
    padding: 0.5%;
    vertical-align: middle;
}

.column66 img
{
    flex: 100%;
    max-width: 100%;
    padding: 0.5%;
    vertical-align: middle;
}

.column66A
{
    flex: 66%;
    max-width: 100%;
    padding-right: 10%;
    vertical-align: top;
    font-family: Helvetica;
    font-size: 12pt;
    text-align: left;
    color: #2B2D42;
}

.column50 
{
    flex: 50%;
    max-width: 100%;
    padding: 0.5%;
    vertical-align: middle;
}

.column50 p
{
    flex: 50%;
    max-width: 100%;
    padding-right: 5%;
    vertical-align: top;
    font-family: Helvetica;
    font-size: 11pt;
    text-align: left;
    color: #2B2D42;
}


.column50 img
{
    flex: 100%;
    max-width: 100%;
    padding: 0.5%;
    vertical-align: middle;
}

.column50A img
{
    flex: 100%;
    float: right;
    max-width: 100%;
    padding: 0.5%;
    vertical-align: middle;
}

.column100
{
    flex: 100%;
    max-width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    vertical-align: middle;
}

.column100 img
{
    flex: 100%;
    max-width: 100%;
    padding: 1%;
    vertical-align: middle;
}
  
.column100 p
{
    flex: 100%;
    max-width: 100%;
    vertical-align: middle;
    font-family: Helvetica;
    font-size: 11pt;
    text-align: left;
    color: #2B2D42;
}

.column100 png
{
    flex: 100%;
    max-width: 100%;
    padding: 1%;
    vertical-align: middle;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    padding: 0.05%;
    width: 100%;
}

  
.column100 video {
    flex: 100%;
    max-width: 100%;
    padding: 1%;
    vertical-align: middle;
    background-color: #E8E8E8;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) 
{
    .column {
      flex: 50%;
      max-width: 50%;
      padding: 0.5%;
      vertical-align: middle;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
      padding: 0.5%;
      vertical-align: middle;
    }
  }